<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>J. K. Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="container">
    
            <div class="header">
                <div class="container inner">
                    <nav>
                        <ul class="nav header-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/About">About</a></li>
                            <li class="active"><a href="/Works">Works</a></li>
                            <li><a href="/Photos">Photos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
    
            <div class="inner cover">
                <h1 class="page-title">J.K. Rowling's Works</h1>

                    <h2>Honours & Awards</h2>
                    <p>J.K. Rowling has received many honours and awards, including:</p>
                    
                    <ul>
                        <li>The Robert F Kennedy Ripple of Hope Award (2019)</li>
                        <li>Companion of Honour, for services to literature and philanthropy, 2017</li>
                        <li>PEN America Literary Service Award, 2016</li>
                        <li>Freedom of the City of London, 2012</li>
                        <li>Hans Christian Andersen Award, Denmark, 2010</li>
                        <li>Chevalier de la Legion d’Honneur: France, 2009</li>
                        <li>Lifetime Achievement Award, British Book Awards, 2008</li>
                        <li>South Bank Show Award for Outstanding Achievement, 2008</li>
                        <li>James Joyce Award, University College Dublin, 2008</li>
                        <li>The Edinburgh Award, 2008</li>
                        <li>Commencement Day Speaker, Harvard University, USA, 2008</li>
                        <li>Blue Peter Gold Badge, 2007</li>
                        <li>WH Smith Fiction Award, 2004</li>
                        <li>Prince of Asturias Award for Concord, Spain, 2003</li>
                        <li>Order of the British Empire (OBE), 2001</li>
                        <li>Children’s Book of the Year, British Book Awards, 1998 and 1999</li>
                        <li>Booksellers Association Author of the Year, 1998 and 1999</li>
                    </ul>
                    <h2>Harry Potter Books</h2>
                        <h4>
                            <ol>
                                <li>Harry Potter and the Philosopher's Stone (26 June 1997)</li>
                                <li>Harry Potter and the Chamber of Secrets (2 July 1998)</li>
                                <li>Harry Potter and the Prisoner of Azkaban (8 July 1999)</li>
                                <li>Harry Potter and the Goblet of Fire (8 July 2000)</li>
                                <li>Harry Potter and the Order of the Phoenix (21 June 2003)</li>
                                <li>Harry Potter and the Half-Blood Prince (16 July 2005)</li>
                                <li>Harry Potter and the Deathly Hallows (21 July 2007)</li>
                            </ol>
                        </h4>
                </p>
            </div>
            </div>
    
        </div>
        </div>
</div>
</body>
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Page by: Julia Foresti</a>
    </div>
</footer>
</html>
